:root {
  --black: #1E1A1D;
  --light-blue: #0097d3;
  --mint: #00c1a4;
  --purple: #9800d0;
  --white: #C1D2D8;
  --gradient: linear-gradient(13deg,
      rgba(0, 193, 164, 1) 10%,
      rgba(0, 151, 211, 1) 30%,
      rgba(201, 51, 255, 1) 64%);
      --gradient2: linear-gradient(13deg,
            rgba(0, 193, 164, 1) 5%,
            rgba(0, 151, 211, 1) 70%);
}
/* General Styles */
body {
  font-family: 'Arial Rounded MT Bold', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
}

.nav-bar {
  border-bottom: 7px solid;
  border-image: var(--gradient) 1;
}

.vermin {
  font-family: 'Vermin Vibes';
}

.lobster {
  font-family: 'Lobster'
}

.noButton {
  outline: none;
  border: none;
  background: none;
  padding: 0px;
}

.button {
  padding: 3px 10px;
  border-radius: 5px;
  border: 3px solid var(--mint);
  box-shadow: 1px 1px 5px var(--light-blue);
  outline: none;
  color: var(--white);
  background-color: var(--black);
}

.button:hover {
  box-shadow: 1px 1px 10px var(--light-blue);
}

.button:active {
  outline: none;
  box-shadow: none;
}

input,
textarea,
select {
  outline: none;
  border-radius: 5px;
  border: 3px solid;
  border-image: var(--gradient2) 1;
  background-color: var(--black);
  color: var(--white);
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 1px 1px 5px var(--mint);
}

input:invalid:focus,
textarea:invalid:focus,
select:invalid:focus {
  border: 3px solid var(--purple);
  box-shadow: 1px 1px 5px var(--purple);
}

.text-link {
  color: var(--mint);
}

.text-link:hover {
  text-decoration: none;
  color: var(--light-blue);
}

.no-link {
  outline: none;
  border: none;
  text-decoration: none;
  color: transparent;
} 

.fs-100 {
  font-size: 6vw;
}

.gradient-text-shadow {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--white) -5px -4px 0px; 
}

.gradient-text-shadow:hover {
  text-shadow: var(--white) -3px -3px 0px;
}

.gradient-text-shadow:active {
  text-shadow: var(--white) 0px 0px 0px;
}

.gradient-text {
  color: transparent;
  background: var(--gradient2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Login / Signup Styles */
.loginDiv {
  box-shadow: 1px 0px 10px var(--light-blue);
  border: 5px solid;
  border-image: var(--gradient2) 1;
  border-radius: 10px;
}

.loginDiv input {
  width: 100%;
}

.navbarText {
  font-size: 1.6vw;
}